@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
.head-1 {
  font-size: 72px !important;
  font-weight: 700 !important;
}
h1 {
  font-size: 56px !important;
  font-weight: 700 !important;
}
h2 {
  font-size: 48px !important;
  font-weight: 700 !important;
}
h3 {
  font-size: 32px !important;
  font-weight: 700 !important;
}
h4 {
  font-size: 24px !important;
  font-weight: 700 !important;
}
h5 {
  font-size: 20px !important;
}
.link {
  font-size: 20px !important;
}
p {
  font-size: 18px !important;
}
.small-para {
  font-size: 16px !important;
}
.manrope {
  font-family: "Manrope", sans-serif !important;
}
/* Navbar */
.app-btn {
  background-color: #9f238b;
  box-shadow: 4px 4px 4px 2px #00000040;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 9px 16px 9px 16px;
  color: #fff;
  border-radius: 4px;
}
.text-purple {
  color: #9f238b;
}
.text-gold {
  color: #c69e58;
}
.bg-gold {
  background-color: #c69e58;
}
.bg-lavendar {
  background: #faf5ff;
}

/* Home Hero */
.width-semi-half {
  width: 75%;
}
.leading-20 {
  line-height: 4.66rem;
}
.list-text-heading::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  width: 20%;
  height: 2px;
  border: 1px solid #000;
}
.exp-heading::after {
  content: "";
  position: absolute;
  top: 55%;
  width: -webkit-fill-available;
  height: 1px;
  border: 1px solid #000;
}
.exp-heading::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  right: 90%;
  width: -webkit-fill-available;
  height: 1px;
  border: 1px solid #000;
}
@media screen and (max-width: 640px) {
  .nav-links {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .hero-img {
    max-width: 100%;
  }
}
